server:
  port: 8207
spring:
  application:
    name: service-orders
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  rabbitmq:
    host: 192.168.135.140
    password: guest
    port: 5672
    username: guest

  data:
    mongodb:
      uri: mongodb://192.168.135.140:27017/test
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    password: root
    url: jdbc:mysql://192.168.135.140:3306/yygh_order?characterEncoding=utf-8&useSSL=false
    username: root
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  profiles:
    active: dev
  redis:
    database: 0
    host: 192.168.135.140
    lettuce:
      pool:
        max-active: 20
        max-idle: 5
        max-wait: -1
        min-idle: 0
    port: 6379
    timeout: 1800000
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml

